
/*** 共通コンポーネント ****/
.main{
  display: flex;
  font-family: sans-serif;
  background: #F4F6F9;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.under-button-set{
  margin-top: 5em;
}

input{
  border-radius: 8px;
  /*border: 1px;*/
  border-width: 2px;
  border-color: #93C5FD;
  padding: 6px 16px;
}

button{
  color: #f1f8ff;
  background-color: #2d8fdd;
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin-left: 20px;
}


.back-button:hover{
  background-color: #666666;
  color: #ffffff;
  cursor: pointer;
}

.edit-button:hover{
  background-color: #93C5FD;
  color: #ffffff;
  cursor: pointer;
}

.delete-button:hover{
  background-color: #F87171;
  color: #ffffff;
  cursor: pointer;
}

.save-button:hover{
  background-color: #34D399;
  color: #ffffff;
  cursor: pointer;
}

.start-button:hover{
  background-color: #fffacd;
  color: #000;
  cursor: pointer;
}


/*** クイズに挑戦画面 ****/
.take-question-box{
  width: fit-content;
}

.take-question-candidate {
  list-style-type: none;
  padding: 1em;
  font-size: 1.25em;
  border: 2px solid #2589d0;
  counter-reset: li;
}

.take-question-candidate li {
  display: flex;
  align-items: center;
  padding: .3em;
}

.take-question-candidate li::before {
  display: inline-block;
  min-width: 1.7em;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #2589d0;
  color: #fff;
  font-weight: bold;
  font-size: 0.75em;
  line-height: 1.7em;
  text-align: center;
  content: counter(li);
  counter-increment: li;
}

/** 問題タイトル・問題詳細画面 */
.question-label:hover{
  color: #1D4ED8;
  cursor: pointer;
}

.question-label{
  color: #333333;
  font-size: 1.25em;
}

.take-question-title{
  padding: 1rem 2rem;
  font-size: 1.25em;
  border-left: 6px double #1E3A8A;
  background: #E3EFFF;
}

.row-item{
  border-left: solid 6px #1E3A8A;/*左側の線*/
  background: #E3EFFF;/*背景色*/
  margin-bottom: 0.75em;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  width: fit-content;
  list-style-type: none!important;/*ポチ消す*/
}

.input-area{
  background: #c6e5d9;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.incomplete-area{
  border: 2px solid #aacfd0;
  width: 400px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  min-height: 200px;
}


.title{

}

.list-row{

}
.todo-item{
  margin: 6px;
}

h1{
  font-size: 3.5em;
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #60A5FA;
}